{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "date-fns",
    ["transform-semantic-ui-react-imports", {
      "convertMemberImports": true,
      "importType": "commonjs",
      "addCssImports": false,
      "addLessImports": false,
      "importMinifiedCssFiles": true,
      "addDuplicateStyleImports": false
    }],
    ["lodash"]
  ]
}
